{% extends "base.html" %} 

{% block title %}
	List
{% endblock title %}

{% block content %}
<br>
<div class="row">
  {% for destination in destinations %}
  <div class= "col-12 col-md-6 col-lg-4">


<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div>
      <img src="{{destination.pretty_picture.url}}" alt="Cinque Terre" width="350" height="200" class="card-img-top" class="card-img" >
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title" style="font-family:optima, sans-serif ">{{destination.name}} </h5>
 		<small class="text-muted"></br>Last updated: {{destination.last_updated| timesince}} ago</small></p>
        <a href="{% url 'destination-detail' destination.id %}"  class="btn btn-outline-info" role="button">more info</a>
      </div>
    </div>
  </div>
</div>



</div>
  {% endfor %}
</div>
{% endblock content %}